@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

$color_negro: #141414;
$color_gris_oscuro: #202124;
$color_gris: #35363A;
$color_gris_hover: #a0a0a0;
$color_violeta: #6517ca;
$color_blanco: #ffffff;


//francisco pagina
$paddingheader : 1rem;
$color_fondo_menu : rgb(27, 168, 250);
$color_fondo_header : white;
$color_fuente_menu : white;
$color_fondo_offcanvas:rgba(255, 136, 0, 0.849);
$tamaño_letra_menu: 14px;
$padding_footer : 1rem;
$color_fondo_footer: rgb(27, 168, 250);
$color_letra_footer: white;
$anchura_pagina: 960px;